@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-gray-100 text-gray-900;

  overflow-x: hidden;
}

#root {
  /* @apply w-full max-w-screen-2xl; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* scrollbar */
.app-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(160, 160, 160, 0.35) transparent;
}

.app-scroll::-webkit-scrollbar {
  width: 12px;
}

.app-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.app-scroll::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0.45);
  border-radius: 9999px;
}

.app-scroll::-webkit-scrollbar-thumb:hover {
  background: red;
}